.header_page {
	width: 100%;
	opacity: 100%;
	height: 150px;
	display: flex;
	align-items: center;
	vertical-align: middle;
	justify-content: center;
	background: linear-gradient(to bottom, #ffbc95, #ffc8a8, #ffd9c4, rgb(255, 243, 221));
}

.left_part-header {
	display: flex;
	height: 150px;
	width: 600px;
	align-items: center;
	font-weight: bolder;
	justify-content: space-evenly;
}

.picture_pizza {
	width: 100px;
}

.logotype_block {
	cursor: pointer;
}

.tagline {
	font-size: 25px;
	text-align: center;
}

.right_part-header {
	display: flex;
	height: 150px;
	width: 600px;
	vertical-align: middle;
	align-items: center;
	justify-content: space-evenly;
}

.btns_header {
	height: 40%;
	width: 25%;
	border: none;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	background-color: #ffb78d;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	outline: none;
}

.btns_header:hover {
	margin: 0% 0% 1% 0%;
	transition: 0.3s all ease-in-out;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
	border-radius: 5px;
}

.btn_menu {
	border: none;
	outline: none;
	cursor: pointer;
	background-color: #ffb78d;
	border-radius: 10%;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-o-transition: 0.3s ease;
}

.btn_menu:hover {
	margin: 0% 0% 1% 0%;
	transition: 0.3s all ease-in-out;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
	border-radius: 5px;
}